-
    const travelData = [
        {
            place: "Đảo Titop",
            visitor: "8,960 accommodations",
            imgSrc: "./assets/images/box-where-go/where-1.jpg",
        },
        {
            place: "Tắm Onsen Nhật Bản",
            visitor: "8,960 accommodations",
            imgSrc: "./assets/images/box-where-go/where-2.png",
        },
        {
            place: "Làng Chài",
            visitor: "8,960 accommodations",
            imgSrc: "./assets/images/box-where-go/where-3.png",
        },
        {
            place: "Vịnh di sản",
            visitor: "8,960 accommodations",
            imgSrc: "./assets/images/box-where-go/where-4.png",
        },
        {
            place: "Hang Sửng Sốt ",
            visitor: "8,960 accommodations",
            imgSrc: "./assets/images/box-where-go/where-5.png",
        },
    ]

mixin box-where-go(mb = false)
    .box-where-go-section
        .box-where-go
            .container
                h3.box-where-go__title Đi đâu ở Hạ Long ?
                .box-where-go__wrap(class=`${mb ? 'owl-carousel owl-theme': 'row'}`)
                    - var i = 0
                    each item in travelData
                        if i === 0  
                            div(class=`${mb ? '':'col-xl-8 col-lg-7 col-md-12'}`)
                                .box-where-go__box.box-where-go__box-1
                                    .box-where-go__box-img
                                        a(href="#")
                                            img(src=item.imgSrc, alt="img")
                                        .img__content
                                            a(href="#")
                                                h4.img__content-place=item.place
                                            span.img__content-visitor=item.visitor
                            - ++i
                        else if i === 1
                            div(class=`${mb ? '':'col-xl-4 col-lg-5 col-md-6'}`)
                                .box-where-go__box
                                    .box-where-go__box-img
                                        a(href="#")
                                            img(src=item.imgSrc, alt="img")
                                        .img__content
                                            a(href="#")
                                                h4.img__content-place=item.place
                                            span.img__content-visitor=item.visitor
                            - ++i
                        else
                            div(class=`${mb ? '':'col-xl-4 col-lg-4 col-md-6'}`)
                                .box-where-go__box
                                    .box-where-go__box-img
                                        a(href="#")
                                            img(src=item.imgSrc, alt="img")
                                        .img__content
                                            a(href="#")
                                                h4.img__content-place=item.place
                                            span.img__content-visitor=item.visitor
                            - ++i