-
    const boxClientData = [
        {
            iconSrc: "./assets/images/client-service/client-icon-1.png",
            iconSrcMb: "./assets/images/client-service/client-icon-mb-1.svg",
            title: "Hoàn hủy 100% free",
        },
        {
            iconSrc: "./assets/images/client-service/client-icon-2.png",
            iconSrcMb: "./assets/images/client-service/client-icon-mb-2.svg",
            title: "Miễn phí vé cho trẻ em",
        },
        {
            iconSrc: "./assets/images/client-service/client-icon-3.png",
            iconSrcMb: "./assets/images/client-service/client-icon-mb-3.svg",
            title: "Dịch vụ đưa đón ",
        },
    ]
mixin client-service(mb=false)
    .client-service-section
        .client-service
            .container
                .row.align-items-center
                    if !mb
                        .col-xl-4.col-lg-5
                            .client-service__img
                                img(src="./assets/images/client-service/client-service-1.png" alt="img")   
                    .col-xl-8.col-lg-7(class=`${mb ? 'col-12':''}`)
                        .client-service__box
                            h3.client-service__box-title Trải nghiệm khách hàng là điều quan trọng nhất
                            .client-service__box-icon-wrap
                                each item in boxClientData
                                    .client-service__box-icon
                                        if mb
                                            img(src=item.iconSrcMb, alt="img")
                                        else
                                            img(src=item.iconSrc, alt="img")
                                        span.icon__title=item.title
                            p.client-service__box-content 
                                | EasyCancel 
                                br
                                | Not sure about your travel plans? Look for the EasyCancel badge to find hotels offering free cancellation on select rooms up to the day before check-in. See your chosen room's cancellation policy for more details.
