-
    const detailShipData = [
        {
            imgSrc1: "./assets/images/detail-ship/ship-1.png",
            imgSrc2: "./assets/images/detail-ship/ship-2.png",
            label : "Tàu 48 chỗ thường",
            serLabel : "Các dịch vụ cho tàu ghép",
            detail : [
                "Cảng khởi hành: Tuần Châu",
                "Thời gian khởi hành: Linh động",
                "Dịch vụ cơ bản: Karaoke",
                "Đã bao gồm vé thắng cảnh + vé tàu",
                "Có thêm các dịch vụ đi kèm",
            ],
            serDetail : [
                "Chèo Kayak",
                "Đưa đón tại nhà/Tại khách sạn",
                "Hướng dẫn viên",
                "Vé thăm quan thắng cảnh",
                "Ăn trưa/chiều",
                "Vé tuyến",
            ]
        },
        {
            imgSrc1: "./assets/images/detail-ship/ship-3.png",
            imgSrc2: "./assets/images/detail-ship/ship-2.png",
            label : "Tàu 72 chỗ thường",
            serLabel : "Các dịch vụ cho tàu riêng",
            detail : [
                "Cảng khởi hành: Tuần Châu",
                "Thời gian khởi hành: Linh động",
                "Dịch vụ cơ bản: Karaoke",
            ],
            serDetail : [
                "Vé thắng cảnh",
                "Chèo thuyền Kayak 40.000 đ/người",
                "Đưa đón/tiễn Tại khách sạn ở Bãi Cháy",
                "Vé thăm quan tuyến",
                "Ăn trên tàu bữa trưa / chiều 150.000 đ/người",
                "Hướng dẫn viên du lịch suốt hành trình",
                "Bảo hiểm",
            ]
        }
    ]

mixin detail-ship(tauRieng = false)
    - var i = 0
    if tauRieng
        - i = 1
    .detail-ship-mobile
        .detail-ship-section
            .detail-ship
                .detail-ship__box
                    h1.detail-ship__box-label=detailShipData[i].label
                    .detail-ship__box-sale Sale off -30%
                    ul.detail-ship__box-detail
                        each item in detailShipData[i].detail
                            li.detail__item=item
                    h3=detailShipData[i].serLabel
                    ul.detail-ship__box-serDetail
                        each item in detailShipData[i].serDetail
                            li.serDetail__item=item
                .detail-ship__img
                    .detail-ship__img-wrap
                        img(src=detailShipData[i].imgSrc1, alt="img")
                    .detail-ship__img-wrap
                        img(src=detailShipData[i].imgSrc2, alt="img")
                    .detail-ship__img-wrap
                        img(src=detailShipData[i].imgSrc2, alt="img")
                .detail-ship__box-book
                    span 1,599,000đ / người
                    a(href="./booking-train-desktop.html").book__btn Đặt Tàu
